VITE_FIREBASE_API_KEY=tu_api_key_aqui
VITE_FIREBASE_AUTH_DOMAIN=gradframe-28d19.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gradframe-28d19
VITE_FIREBASE_STORAGE_BUCKET=gradframe-28d19.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=tu_messaging_sender_id_aqui
VITE_FIREBASE_APP_ID=tu_app_id_aqui
